nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="/") LIS
  ul.navbar-nav.ml-auto
    li.nav-item
      a.nav-link(href="/paciente/home") Mis Resultados
    li.nav-item
      a.nav-link(href="/usuario/perfil") Perfil
    li.nav-item
      a.nav-link(href="/auth/logout") Cerrar Sesión
